body{
    font-family: "Raleway", sans-serif;
    color: #465967;
    text-align: justify;
    margin-top: 30px;
}

.contenedor{
    padding: 20px;
    margin-top: 50px;
    margin: 0 auto;
    /* background: #e0f2f1; */
    border: 3px solid #eeeef6;
}

.header{
    display: grid;
    grid-template-columns: 2fr 5fr;
    background: #00796b;
    color: #fcfcfe;
}

.linea{
    width: 500px;
    height: 5px;
    margin-top: 20px;
    background: #fcfcfe;
}

.nombre{
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: bold;
    margin-top: 20px;
}

.descripcion{
    letter-spacing: 3px;
    margin-top: 15px;
    font-size: 2.2em;
}

.imagen{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 30px;
    width: 130px;
    height: 130px;
    border: 3px solid #fcfcfe;
    border-radius: 50%;
}

.pelicula{
    width: 100px;
    height: 100px;
}

.experiencia{
    background: #e0f2f1;
    padding: 10px;
    color: black;
    text-transform: uppercase;
    border-radius: 0 40px 0 40px;
}

.experiencia-contenedor{
    margin-right: 20px;
    display: grid;
    grid-template-columns: 1fr 2fr 4fr;
}

.ui{
    display: grid;
    grid-template-columns: 0.2fr 0.5fr;
}

/* .content{
    display: grid;
    grid-template-columns: 1fr 1fr;
} */

.encabezado{
    margin-top: 0px;
}

.progress-bar{
    background: #cdcdcf;
    height: 15px;
    margin-top: 5px;
    /* width: 100px; */
}

.progress{
    background: #00796b;
    height: 15px;
    width: 50px;
}

.progress-bar1{
    background: #cdcdcf;
    height: 15px;
    margin-top: 5px;
    /* width: 100px; */
}

.progress1{
    background: #00796b;
    height: 15px;
    width: 50px;
}
.progress-bar2{
    background: #cdcdcf;
    height: 15px;
    margin-top: 5px;
    /* width: 100px; */
}

.progress2{
    background: #00796b;
    height: 15px;
    width: 30px;
}

.head{
    font-weight: bold;
}

ul{
    list-style: none;
    padding: 0;
}

